body {
  background-color: #dee1ec;
  font-family: century gothic;
}
hr{

  width: 100px;
  border-style: dotted none none;
  border-width:7px;
  border-color: #0b8457;
  text-align: left;
}
h1{
  color: #eac100;
}
h3{
  color: #10316b;
}
img  {
  height: 30%;
  width: auto;
}
strong{
  color: #444444;
}
